# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
*.egg-info/

# pytest
.pytest_cache/

# mypy
.mypy_cache/

# IDE
.idea/
.vscode/
*.txt
*.log
