attrs==21.2.0
certifi==2021.5.30
chardet==4.0.0
decorator==4.4.2
flake8==3.9.2
googledrivedownloader==0.4
idna==2.10
iniconfig==1.1.1
isodate==0.6.0
Jinja2==3.0.1
joblib==1.0.1
MarkupSafe==2.0.1
mccabe==0.6.1
mpmath==1.2.1
mypy==0.910
mypy-extensions==0.4.3
networkx==2.5.1
numpy==1.21.0
packaging==20.9
pandas==1.2.5
pluggy==0.13.1
py==1.10.0
pycodestyle==2.7.0
pyflakes==2.3.1
pyparsing==2.4.7
pytest==6.2.4
python-dateutil==2.8.1
python-louvain==0.15
pytz==2021.1
rdflib==5.0.0
requests==2.25.1
scikit-learn==0.24.2
scipy==1.7.0
six==1.16.0
sympy==1.8
threadpoolctl==2.1.0
toml==0.10.2
torch==1.9.0
torch-geometric==1.7.2
tqdm==4.61.1
typing-extensions==3.10.0.0
urllib3==1.26.6
yapf==0.31.0
e3nn==3.0
opt_einsum==3.3.0