name: pre-commit

on:
  push:
    branches: [main, develop]
  pull_request:

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"
      - uses: astral-sh/setup-uv@v6

      - name: Run pre-commit
        run: |
          uv pip install .[dev] --system
          pre-commit run --all-files
